h1 {
  color: #a90018;
}
h2 {
  color: #f78697;
}
.academia {
  color: grey;
}

.intro {
  background-color: #bb2b41;
  color: black;
}

ol {
  color: #a90018;
}
ul {
  color: black;
}
